In [1]:
# def = define
def fn():
    print("You're running the fn function!")

fn()

You're running the fn function!

In [3]:
# add parameters
def fn(param_1):
    print(param_1)

fn('Hi')
fn("I'm Kirsty")

Hi
I'm Kirsty

In [ ]:
#variables and parameters defined in a function are only available within the function

In [7]:
def fxy(x, y):
    print(x)
    print(y)
    print(f'The sum of {x} and {y} is {x + y}.')

fxy(x=5, y=10)

5
10
The sum of 5 and 10 is 15.

In [8]:
def fxy(x=13, y=9):
    print(x)
    print(y)
    print(f'The sum of {x} and {y} is {x + y}.')

fxy()

13
9
The sum of 13 and 9 is 22.

In [9]:
# parameters can be overwritten
def fxy(x=13, y=9):
    print(x)
    print(y)
    print(f'The sum of {x} and {y} is {x + y}.')

fxy(13, 22)

13
22
The sum of 13 and 22 is 35.

In [15]:
# Now it's your go. Write a function, with an appropriate name
# that divides one number by the other. Bonus points if you can make the function
# always divide the largest of the two numbers by the smallest.
# Get the function to print the answer
def div_xy(x, y):
    if x >= y:
        z = x / y
        print(z)
    else:
        z = y / x
        print(z)
 
div_xy(y=10, x=5)

2.0

In [16]:
def div_xy(x, y):
    if x >= y:
        z = x / y
        print(z)
    else:
        z = y / x
    return z

answer = div_xy(y = 10, x = 5)
print(answer)

2.0

In [17]:
def sum_prod(num1, num2):
    sum_12 = num1 + num2
    prod_12 = num1 * num2

    return sum_12, prod_12

answer = sum_prod(30, 70)

print(answer)

(100, 2100)

In [18]:
def sum_prod(num1, num2):
    sum_12 = num1 + num2
    prod_12 = num1 * num2

    return sum_12, prod_12

sum_30_70, prod_30_70 = sum_prod(30, 70)

print(prod_30_70)

2100

In [19]:
def sum_prod(num1, num2):
    sum_12 = num1 + num2
    prod_12 = num1 * num2
 
    return sum_12, prod_12
 
answer = sum_prod(30, 70)
 
print(answer[1])

2100

In [20]:
def div_ab(a, b):
    if a >= b:
        c = a / b
        print(c)
    else:
        c = b / a
    return c

answer = div_ab(a = 10, b = 5)
print(answer)

2.0
2.0

In [25]:
def minus_div(x, y):
    if x >= y:
        big = x
        small = y
    else:
        big = y
        small = x
    return big / small, big - small
 
x_div_y, x_minus_y = minus_div(5, 10)
 
print(x_div_y)
print(x_minus_y)

2.0
5

In [26]:
import math
# In this cell, first, import the 'math' module.
# Next, write a function that squares a number (hint: you can simply uses x*x),
# Now write a function that uses math.sqrt() to find the square root of a number
# (hint: https://docs.python.org/3/library/math.html#math.sqrt)
# Then, write a funciton that performs both of these functions and returns both answers,
# Finally, call the function getting two variables as your answer, and print them.

In [32]:
def sq(x):
    return x**2
 
def root_fn(x):
    return math.sqrt(x)
 
def root_sqr_x(x):
    return sq(x), root_fn(x)
 
print(root_sqr_x(9))

(81, 3.0)

In [33]:
import pandas as pd

In [35]:
df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv')
df

     Unnamed: 0        LAchildID Ethnicity
0             0  RND000215205141      WIRT
1             1  RND000824303014      WROM
2             2  RND000750143123      AOTH
3             3  RND000909164501      MWBC
4             4  RND000382171815      APKN
..          ...              ...       ...
327         327  RND000112711501      WOTH
328         328  RND000513120794      WROM
329         329  RND000541643134      BCRB
330         330  RND000404939452      AIND
331         331  RND000589802835      WBRI

[332 rows x 3 columns]

In [45]:
def ethnic_check(ethnicity_code):
    if 'W' in ethnicity_code:
        return 'White or Mixed White'
    else:
        return 'Not White'
    
df['background'] = df['Ethnicity'].apply(ethnic_check)

df

     Unnamed: 0        LAchildID Ethnicity            background
0             0  RND000215205141      WIRT  White or Mixed White
1             1  RND000824303014      WROM  White or Mixed White
2             2  RND000750143123      AOTH             Not White
3             3  RND000909164501      MWBC  White or Mixed White
4             4  RND000382171815      APKN             Not White
..          ...              ...       ...                   ...
327         327  RND000112711501      WOTH  White or Mixed White
328         328  RND000513120794      WROM  White or Mixed White
329         329  RND000541643134      BCRB             Not White
330         330  RND000404939452      AIND             Not White
331         331  RND000589802835      WBRI  White or Mixed White

[332 rows x 4 columns]

In [47]:

#write a function that calculates ages based on the data, and returns a new column in age range buckets
#0-5, 6-11, 12-17, 18+
 
#convert that to a datetime
#find the difference between the datetime and today
#if else statements to put that difference in time in a bucket
#return as a string the appropriate buckets to a nerw column
df2 = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv')
df2

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate
0,0,RND000215205141,A850728973744,NaN,NaN,2019-12-06,NaN,1,NaN
1,1,RND000824303014,A141396438491,NaN,NaN,2011-04-27,NaN,9,NaN
2,2,RND000750143123,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaN
3,3,RND000909164501,A612330267292,NaN,NaN,2014-10-03,NaN,0,NaN
4,4,RND000382171815,A604459366806,NaN,NaN,2019-09-25,NaN,2,NaN
...,...,...,...,...,...,...,...,...,...
327,327,RND000112711501,A465246916125,NaN,NaN,2010-07-07,NaN,2,NaN
328,328,RND000513120794,A540014111973,NaN,NaN,2018-08-14,NaN,2,NaN
329,329,RND000541643134,A549582689058,NaN,NaN,2021-12-09,NaN,51,NaN
330,330,RND000404939452,A889492349196,NaN,NaN,2013-07-23,NaN,2,NaN
331,331,RND000589802835,A877624860226,NaN,NaN,2021-10-25,NaN,9,NaN

In [53]:
def bucket_maker(date_code):
    bday = pd.to_datetime(date_code, format="%Y-%m-%d")
    today = pd.to_datetime('today')
 
    age = today - bday
    age = age / pd.Timedelta(365.25, 'd')
 
    if age < 6:
        return '0-5 years old'
    elif age < 12:
        return '6-11 years old'
    elif age < 18:
        return '12-17 years old'
    else:
        return '18+ years old'
 
df2['Age Bucket'] = df2['PersonBirthDate'].apply(bucket_maker)
 
df2[['PersonBirthDate', 'Age Bucket']]

    #if bday + pd.DateOffset(6, 'Y') > today:
      #  return '0-5 years old'
    #elif bday + pd.DateOffset(12, 'Y') < today:
    #    return '6-11 years old'
    #elif bday + pd.DateOffset(18, 'Y') < today:
    #    return '12-17 years old'
    #else:
    #    return 'over 5'
    #return bday

    PersonBirthDate       Age Bucket
0        2019-12-06    0-5 years old
1        2011-04-27  12-17 years old
2        2017-06-06   6-11 years old
3        2014-10-03   6-11 years old
4        2019-09-25    0-5 years old
..              ...              ...
327      2010-07-07  12-17 years old
328      2018-08-14    0-5 years old
329      2021-12-09    0-5 years old
330      2013-07-23   6-11 years old
331      2021-10-25    0-5 years old

[332 rows x 2 columns]