In [6]:
x = 5
y = 10

z = x + y

print(z)

j = y / x
print(j)

15
2.0

In [7]:
x = "5"
y = "10"
z = x / y
# variable stored as charachter so cannot perform the function in z

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [9]:
print(type(j))
print(type(z))

<class 'float'>
<class 'int'>

In [ ]:
#In this cell, initialise two numeric variables and find their product
#using the * operator for multiplication and assign this to a new variable.
#Print the new variable
 
#he radius of a circle is 2, assume that Pi is 3.14. Assign both of these
#to suitably named variables and find the area of the circle.
#We can find the area of a circle by finding the product of Pi with the radius squared.
#You probably don't know how to square a number in Python yet, so use Google to work it out!

In [10]:
a = 3
b = 4
c = a * b
print(c)

12

In [18]:
radius = 2
pi = 3.14
area = pi * (radius ** 2)
print(area)

12.56

In [24]:
name = "Kirsty"
hobby = "Knitting"
outcome = name + hobby
print(outcome)

outcome_2 = f"My name is: {name}, and I like {hobby}."
print(outcome_2)

KirstyKnitting
My name is: Kirsty, and I like Knitting.

In [21]:
dropdown = "CIN Plans"

title = dropdown + " per year"
print(title)

CIN Plans per year

In [29]:
#In this cell, initialise two appropriately named variables, one for your name and one for your job title.
#Next, combine them in an f string, assigned to a different, appropriately named variable.
#Finally, print the f string.

name = "Kirsty"
job = "Data Analyst"
name_job = f"My name is {name} and my job is {job}."
print(name_job)

My name is Kirsty and my job is Data Analyst.

In [38]:
# indexing starts at 0 in python

num_string = "123456789"

sub_string = num_string[3]

print(sub_string)

# 1 is from rhd

sub_string_rhs = num_string[-3]
print(sub_string_rhs)

# start is inclusive, stop is exclusive

sub_range = num_string[3:7]
print(sub_range)

# step = start:stop:step
step_range = num_string[::2]

print(step_range)

reverse = num_string[-1::-1]
print(reverse)

4
7
4567
13579
987654321

In [45]:
# In this cell I've initialised a variable 'slice_this_phrase'. 
# On the next three lines, print the words dog, cat, and racoon seprately 
#using a slice from the beginning, a slice giving a range in the middle, and a slice from the end.
# This means one slice will involve [:n], one will involve [n1:n2], and one will involve [-n:].

slice_this_phrase = 'dog cat racoon'

dog = slice_this_phrase[:3]
print(dog)

cat = slice_this_phrase[4:7]
print(cat)

racoon = slice_this_phrase[-6:]
print(racoon)

dog
cat
racoon

In [ ]:
#Workshop 07.06.24
#Tabular data