In [34]:
import pandas as pd
#import os if data was stord on local computer
#os_filepath = r"..."

In [35]:
filepath_ci= r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv"

In [36]:
filepath_cc = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv"

In [37]:
child_identifiers = pd.read_csv(filepath_ci)

child_characteristics = pd.read_csv(filepath_cc)

In [38]:
child_identifiers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               332 non-null    int64
 1   LAchildID                332 non-null    object
 2   UPN                      332 non-null    object
 3   FormerUPN                0 non-null      float64
 4   UPNunknown               0 non-null      float64
 5   PersonBirthDate          332 non-null    object
 6   ExpectedPersonBirthDate  7 non-null      object
 7   GenderCurrent            332 non-null    int64
 8   PersonDeathDate          21 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 23.5+ KB

In [39]:
child_info = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                   'Age first contact':[6,12,11,1,19],
                   'Gender':['M','m', 'F', '', 'F' ],
                   'Birthday':['01/01/2002', '02/02/2003', pd.NA, '03/03/2023', '06/01/2012'],
                   'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})

nhs_numbers = pd.DataFrame([
                            {'ChildId':'id1',
                            'NHS Number': '303',},
                            {'ChildId':'id2',
                            'NHS Number': '3u5029',},
                            {'ChildId':'id3',
                            'NHS Number': 'gqw3',},
                            {'ChildId':'id4',
                            'NHS Number': 'avsgvb',},
                            {'ChildId':'id5',
                            'NHS Number': 'varwvw',},
                            ])
# child_info[['Birthday', 'CP Plan?']]
child_info['Birthday'] = pd.to_datetime(child_info['Birthday'], format="%d/%m/%Y", errors="coerce")

# if Year/month/day sep by dashes "%Y-%m-%d"

child_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ChildId            5 non-null      object
 1   Age first contact  5 non-null      int64
 2   Gender             5 non-null      object
 3   Birthday           4 non-null      datetime64[ns]
 4   CP Plan?           5 non-null      object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 328.0+ bytes

In [40]:
child_identifiers['PersonBirthDate'] = pd.to_datetime(child_identifiers['PersonBirthDate'], format="%Y-%m-%d", errors="coerce")

In [41]:
child_identifiers['ExpectedPersonBirthDate'] = pd.to_datetime(child_identifiers['ExpectedPersonBirthDate'], format="Y-%m-%d", errors="coerce")

In [42]:
child_identifiers['PersonDeathDate'] = pd.to_datetime(child_identifiers['PersonDeathDate'], format="Y-%m-%d", errors="coerce")
child_identifiers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               332 non-null    int64
 1   LAchildID                332 non-null    object
 2   UPN                      332 non-null    object
 3   FormerUPN                0 non-null      float64
 4   UPNunknown               0 non-null      float64
 5   PersonBirthDate          332 non-null    datetime64[ns]
 6   ExpectedPersonBirthDate  0 non-null      datetime64[ns]
 7   GenderCurrent            332 non-null    int64
 8   PersonDeathDate          0 non-null      datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(2)
memory usage: 23.5+ KB

In [43]:
child_identifiers['Age of Death'] = child_identifiers['PersonBirthDate'] - child_identifiers['PersonDeathDate']
# child_identifiers[child_identifiers['Age of Death'].notna()]
child_identifiers['Age of Death'] = child_identifiers['Age of Death'] / pd.Timedelta(365.25, 'd')
child_identifiers['Age of Death'] = child_identifiers['Age of Death'].astype('int', errors='ignore')
child_identifiers[child_identifiers['Age of Death'].notna()]

Empty DataFrame
Columns: [Unnamed: 0, LAchildID, UPN, FormerUPN, UPNunknown, PersonBirthDate, ExpectedPersonBirthDate, GenderCurrent, PersonDeathDate, Age of Death]
Index: []

In [44]:

child_identifiers['Age'] = pd.to_datetime('today') - child_identifiers['PersonBirthDate'] 
# child_identifiers[child_identifiers['Age of Death'].notna()]
child_identifiers['Age'] = child_identifiers['Age'] / pd.Timedelta(365.25, 'd')
child_identifiers['Age'] = child_identifiers['Age'].astype('int')
child_identifiers['Age']

0       4
1      13
2       7
3       9
4       4
       ..
327    13
328     5
329     2
330    10
331     2
Name: Age, Length: 332, dtype: int64

In [58]:
df_dict = pd.read_excel(r"https://github.com/data-to-insight/ERN-sessions/raw/main/data/small%20excel.xlsx", sheet_name=None)

df_dict

df_dict

{'Child Data':   ChildID Sex        DOB EHCP issued
 0     id1   M 2014-12-05           N
 1     id6   m 2016-01-06           n
 2     id4   m 2013-11-09           Y
 3     id3   F 2022-12-24           Y
 4     id5   F 2020-01-15         NaN
 5     id7   f 2022-09-17           y,
 'Child extras':   ChildID  Assessment Code
 0     id1                1
 1     id5                2
 2     id4                3
 3     id3                4
 4     id6                5
 5     id7                6,
 'Sheet3':    Assessment Code Assessment Outcome
 0                1                  Y
 1                2                  N
 2                3                  N
 3                4                  n
 4                5                  y
 5                6                  N}

In [63]:
df = pd.merge(df_dict['Child Data'], df_dict['Child extras'], how='left', on='ChildID')
df = pd.merge(df, df_dict['Sheet3'], how='left', on='Assessment Code')
df

  ChildID Sex        DOB EHCP issued  Assessment Code Assessment Outcome
0     id1   M 2014-12-05           N                1                  Y
1     id6   m 2016-01-06           n                5                  y
2     id4   m 2013-11-09           Y                3                  N
3     id3   F 2022-12-24           Y                4                  n
4     id5   F 2020-01-15         NaN                2                  N
5     id7   f 2022-09-17           y                6                  N

In [ ]:
# Have a look at the dataframes in df_dict, convert birthday column to a datetime object, merge the three tables together

#df_dict = pd.read_excel(r"https://github.com/data-to-insight/ERN-sessions/raw/main/data/small%20excel.xlsx", sheet_name=None)

#df_dict['Child Data']['DOB'] = pd.to_datetime(df_dict['Child Data']['DOB'], format="%Y-%m-%d")

#df = pd.merge(df_dict['Child Data'], df_dict['Child extras'], how='left', on='ChildID')
#df = pd.merge(df, df_dict['Sheet3'], on='Assessment Code', how='left')

#df.info()

In [52]:
child_info = pd.merge(child_info, nhs_numbers, how='left', left_on='ChildId', right_on='ChildId')
child_info

  ChildId  Age first contact Gender   Birthday CP Plan? NHS Number
0     id1                  6      M 2002-01-01        Y        303
1     id2                 12      m 2003-02-02        n     3u5029
2     id3                 11      F        NaT        N       gqw3
3     id4                  1        2023-03-03       No     avsgvb
4     id5                 19      F 2012-01-06      yES     varwvw

In [57]:
df_dict = pd.read_excel(r"https://github.com/data-to-insight/ERN-sessions/raw/main/data/small%20excel.xlsx", sheet_name=None)

In [66]:
#.notna returns rows with non na values

In [ ]:
# > greater than
# < less than
# ==  equals
 
# ~ not
# >=/<= greater equals/less equals
!# = does not equal
 
# & and
# | or
 
# .isna() / .notna()
# .isin()
# .str.contains()

In [67]:
condition = child_info['Age first contact'] > 5
contact_after_5 = child_info[condition]
contact_after_5

  ChildId  Age first contact Gender   Birthday CP Plan? NHS Number
0     id1                  6      M 2002-01-01        Y        303
1     id2                 12      m 2003-02-02        n     3u5029
2     id3                 11      F        NaT        N       gqw3
4     id5                 19      F 2012-01-06      yES     varwvw

In [ ]:
# condition = child_info['Age first contact'] > 5
# contact_after_5 = child_info[condition]
# contact_after_5

condition = (child_info['Age first contact'] > 5) | (child_info['CP Plan?'].str.lower().str.contains('n'))
contact_after_5_cp = child_info[condition]
contact_after_5_cp